@model IEnumerable<ViewOrAddCategoryDTO>
@if(Model is null){
    <p>
        No Any Category To Display;
    </p>
}
else{
    @foreach(var item in Model)
    {
        <p>
        @item.Name ||
            <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a type="submit" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </p>
    }
}
<a asp-controller="Category" asp-action="Add">Add Category</a>