@model AddCategoryDTO
@{
    ViewData["Title"]= "Add Category";
}
<form method="post">
    <input type="text" placeholder="Please Enter Category Name" asp-for="Name" />
    <button type="submit">Add</button>
</form>
